//variables
$primary-color: rgba(35, 41, 43, 1);
$clear-text-color: white;

// mixins
@mixin imagepropertys {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ____________________ estilos generales  ____________________*/
* {
    margin: 0;
    padding: 0;
}
body{
    /* overflow-x: hidden; */
    font-family: 'Merriweather', Times;
}
li{
    list-style-type: none;
}
a {
    text-decoration: none;
}
ul{
    padding-left: 0px;
}
.text-white {
    text-shadow: 0px 0px 1px black;
}

/* * {
    outline: 1px solid #f00 !important;
} */

/* ____________________ estilos del header ____________________*/
.imagendefondo{
    width: 100%;
    height: 50vh;
    background-image: url(../Recursos/img/main_screen.jpg);
    @include imagepropertys
}

header{
    width: 100%;
    position:sticky;
    top: -1px;
    background-color: rgba(30, 36, 36, 1);
    border-bottom: 2px solid rgb(54, 61, 61);
    z-index: 1;
    .nav{
        &__titulo {
            height: 80px;
            width: 300px;
            flex-shrink: 0;
            display: flex;
            justify-content: left;
            align-items: center;
            flex-direction: row;
            &-imagen{
                height: 80px;
                height: 100%;
            }
            @media (min-width: 421px) {
                &-texto-large{
                    color: $clear-text-color;
                    font-weight: 300;
                    font-size: 18px;
                    margin: auto;
                }
                &-texto-small{
                    display: none;
                }
            }
            @media (max-width: 420px) {
                width: auto;
                &-texto-large{
                    display: none;
                }
                &-texto-small{
                    color: $clear-text-color;
                    font-weight: 300;
                    font-size: 18px;
                    margin: auto;
                }
            }
        }
        &__indice {
            flex-shrink: 1;
            display: flex;
            justify-content: center;
        }
        &__otros-lista-button img:hover{
            transform: scale(1.1);
            transition-duration: 0.1s;
        }
    }
}

/* ____________________ Estilos del Main (Index) ____________________*/

.main{
    background-image: linear-gradient(to bottom,  rgb(194, 194, 194) 000%, rgba(248, 248, 248, 1) 020%, rgba(248, 248, 248, 1) 080%,  rgb(194, 194, 194) 100%);
    display: flex;
    flex-direction: column;
    width: 100%;
    &__titulo{
        padding: 40px;
        margin-right: auto;
        margin-left: auto;
        font-weight: 600;
        font-size: 26px;
    }
    &__texto{
        padding: 0% 15%;
        margin-right: auto;
        margin-left: auto;
        font-size: 18px;
        font-weight: 300;
    }
    &__emblemas{
        display: flex;
        width: 50%;
        margin: auto;
        justify-content: space-around;
    }
}

//mapa de files para los emblemas del main
$emblems:(
    'Aztecs': 'AztecsLog.png',
    'Franks': 'FranksLog.png',
    'Spanish': 'SpanishLog.png',
    'Teutons': 'TeutonsLog.png'
);

//each que le da propiedades a cada logo usando el mapa
@each $civ, $filename in $emblems {
    .main__emblemas-#{$civ}-emblem{
        width: 100px;
        height: 100px;
        @include imagepropertys;
        background-image: url(../Recursos/img/#{$filename});
        @media (max-width: 730px) {
            width: 13vw;
            height: 13vw;
        }
    }
}

/* ____________________ Estilos del Main (Index)-(animacion) ____________________*/

.teuton_container{
    width: 100%;
    height: 200px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    z-index: 0.1;
    &__teuton{
        width: 150px;
        height: 150px;
        background-image: url(../Recursos/img/legs.png);
        @include imagepropertys;
        transform: translate(0%, 25px) scale(1.1);
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 200px;
            background-image: url(../Recursos/img/body.png);
            @include imagepropertys;
            transform: translate(-50px, -77px);
            animation: standing 1.4s linear infinite;
        }
    }
}

@keyframes standing {
    000% { transform: translate(-50px, -77px) ;}
    050% { transform: translate(-50px, -73px) ;}
    100% { transform: translate(-50px, -77px) ;}
}

/* ____________________ Estilos del Footer ____________________*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: rgba(30, 36, 36, 1);
    &__texto{
        color:rgb(208, 208, 208);
        margin: 20px auto 10px auto;
        font-size: 8px;
        font-weight: 300;
        text-align: center;
        padding: 0% 15%;
    }
    &__indice{
        margin: 10px;
        &-lista{
            display: flex;
            padding: 0;
            flex-direction: row;
            justify-content: space-evenly;
            width: 20vw;
            margin-right: auto;
            margin-left: auto;
            &-li{
                margin: 3px;
                a img{
                    height: 35px;
                    &:hover{
                        transform: scale(1.1);
                        transition-duration: 0.1s;
                    }
                }
            }
        }
    }
}


/* ____________________ Estilos del Main (Basics & Videos) ____________________*/

.bo {
    width: 100%;
    background-color: $primary-color;
    margin-top: 5vh;
    margin-bottom: 5vh;
    &__title{
        color: $clear-text-color;
        margin: 5vw 6.5vw 0vw 6.5vw;
        font-size: 26px;
        font-weight: 400;
    }
    &__list {
        color: $clear-text-color;
        text-shadow: 0px 0px 5px black;
        font-size: 2vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 5vh 0vh;
        &-archers-steps {
            background-image: url(../Recursos/img/Archer_aoe2DE.png);
            width: auto;
            @include imagepropertys;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            border-radius: 10px;
        }
        &-scouts-steps{
            @extend .bo__list-archers-steps;
            background-image: url(../Recursos/img/scout.png);
        }
        &-kt-steps{
            @extend .bo__list-archers-steps;
            background-image: url(../Recursos/img/knight.png);
        }
    }
}

.subtitle {
    display: hidden;
}
.steps {
    width: -webkit-fill-available;
    height: 60vw;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7% 0%;
    li {
        margin-left: auto;
        margin-right: auto;
    }
    &-title{
        margin: 1vw;
        font-weight: 800;
    }
}

.video{
    width: -webkit-fill-available;
    height: 25vw;
    max-height: 300px;
    border-radius: 10px;
}

/* ____________________ Estilos del Main (Form) ____________________*/
.bo__form{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    &-space-subtitulo{
        color: $clear-text-color;
        text-decoration: none;
        font-size: 26px;
        font-weight: 400;
    }
    &-space-tyc{
        padding: 5px;
        margin: 5px;
        color: $clear-text-color;
        width: auto;
        display: flex;
        flex-direction: line;
        justify-content: space-between;
        align-items: center;
    }
    &-space-botones{
        width: auto;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        &-boton{
            width: 50%;
            border-radius: 10px;
            border: 1px solid white;
        }
    }
    &-space-inputtext{
        height: 20vh;
        resize: none;
    }
    &-space-inputcheckbox{
        width: 24px;
    }
}

.form-input{
    padding: 5px;
    margin: 5px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: $clear-text-color;
    &:focus{
        outline: none;
        background-color: rgb(46, 49, 49);
    }
    &:hover{
        outline: none;
        background-color: rgb(46, 49, 49);
    }
}

.form-noninput{
    padding: 5px;
    margin: 5px;
    &:hover{
        background-color: rgb(204, 202, 202)
    }
}

/* ____________________ Estilos del Main (Form-Grid) ____________________*/


.grid{
    &-container {
        @media (max-width: 768px) {
            padding: 2vw;
            display: grid;
            grid-gap: 0.5vw;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 4fr repeat(4, 1fr);
            grid-template-areas: 
            "grid-form      grid-form       grid-form       grid-form       grid-form"
            "grid-image-1   grid-image-1    grid-image-2    grid-image-2    grid-image-2"
            "grid-image-1   grid-image-1    grid-image-2    grid-image-2    grid-image-2"
            "grid-image-3   grid-image-3    grid-image-2    grid-image-2    grid-image-2"
            "grid-image-3   grid-image-3    grid-image-4    grid-image-5    grid-image-6"
            ;
        }
        .bo__form{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
        }
        .bo__form-space-inputtext{
            height: 12vh;
            resize: none;
        }
        padding: 2vw;
        display: grid;
        grid-gap: 0.5vw;
        grid-template-columns: repeat(5, 1fr) 5fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "grid-image-1 grid-image-1 grid-image-2 grid-image-2 grid-image-2 grid-form"
        "grid-image-1 grid-image-1 grid-image-2 grid-image-2 grid-image-2 grid-form"
        "grid-image-3 grid-image-3 grid-image-2 grid-image-2 grid-image-2 grid-form"
        "grid-image-3 grid-image-3 grid-image-4 grid-image-5 grid-image-6 grid-form"
        ;
    }
    &-form{
        grid-area: grid-form;
        padding: 2vw;
    }
}

//loop para crear las classes del grid-image-#
@for $valor from 1 through 6 {
    .grid-image-#{$valor}{
        @include imagepropertys;
        grid-area: grid-image-#{$valor};
        background-image: url(../Recursos/img/Grid#{$valor}.JPG);
    }
}
