/* ____________________ estilos generales  ____________________*/
* {
  margin: 0;
  padding: 0; }

body {
  /* overflow-x: hidden; */
  font-family: 'Merriweather', Times; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

ul {
  padding-left: 0px; }

.text-white {
  text-shadow: 0px 0px 1px black; }

/* * {
    outline: 1px solid #f00 !important;
} */
/* ____________________ estilos del header ____________________*/
.imagendefondo {
  width: 100%;
  height: 50vh;
  background-image: url(../Recursos/img/main_screen.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

header {
  width: 100%;
  position: sticky;
  top: -1px;
  background-color: #1e2424;
  border-bottom: 2px solid #363d3d;
  z-index: 1; }
  header .nav__titulo {
    height: 80px;
    width: 300px;
    flex-shrink: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row; }
    header .nav__titulo-imagen {
      height: 80px;
      height: 100%; }
    @media (min-width: 421px) {
      header .nav__titulo-texto-large {
        color: white;
        font-weight: 300;
        font-size: 15px;
        margin: auto; }
      header .nav__titulo-texto-small {
        display: none; } }
    @media (max-width: 420px) {
      header .nav__titulo {
        width: auto; }
        header .nav__titulo-texto-large {
          display: none; }
        header .nav__titulo-texto-small {
          color: white;
          font-weight: 300;
          font-size: 15px;
          margin: auto; } }
  header .nav__indice {
    flex-shrink: 1;
    display: flex;
    justify-content: center; }
  header .nav__otros-lista-button img:hover {
    transform: scale(1.1);
    transition-duration: 0.1s; }

/* ____________________ Estilos del Main (Index) ____________________*/
.main {
  background-image: linear-gradient(to bottom, #e4e4e4 0%, #f8f8f8 20%, #f8f8f8 80%, #e4e4e4 100%);
  display: flex;
  flex-direction: column;
  width: 100%; }
  .main__titulo {
    padding: 40px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 600;
    font-size: 23px; }
  .main__texto {
    padding: 0% 15%;
    margin: 0 auto 24px auto;
    font-size: 15px;
    font-weight: 300; }
  .main__emblemas {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-around; }

.main__emblemas-Aztecs-emblem {
  z-index: 0.1;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../Recursos/img/AztecsLog.png);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5)); }
  @media (max-width: 730px) {
    .main__emblemas-Aztecs-emblem {
      width: 13vw;
      height: 13vw; } }

.main__emblemas-Franks-emblem {
  z-index: 0.1;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../Recursos/img/FranksLog.png);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5)); }
  @media (max-width: 730px) {
    .main__emblemas-Franks-emblem {
      width: 13vw;
      height: 13vw; } }

.main__emblemas-Spanish-emblem {
  z-index: 0.1;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../Recursos/img/SpanishLog.png);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5)); }
  @media (max-width: 730px) {
    .main__emblemas-Spanish-emblem {
      width: 13vw;
      height: 13vw; } }

.main__emblemas-Teutons-emblem {
  z-index: 0.1;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../Recursos/img/TeutonsLog.png);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5)); }
  @media (max-width: 730px) {
    .main__emblemas-Teutons-emblem {
      width: 13vw;
      height: 13vw; } }

/* ____________________ Estilos del Main (Index)-(animacion) ____________________*/
.teuton_container {
  width: 100%;
  height: 200px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  z-index: 0.1; }
  .teuton_container__teuton {
    width: 150px;
    height: 150px;
    background-image: url(../Recursos/img/legs.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translate(0%, 25px) scale(0.75); }
    .teuton_container__teuton::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;
      background-image: url(../Recursos/img/body.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: translate(-50px, -77px);
      animation: standing 1.4s linear infinite; }

@keyframes standing {
  000% {
    transform: translate(-50px, -77px); }
  050% {
    transform: translate(-50px, -73px); }
  100% {
    transform: translate(-50px, -77px); } }

/* ____________________ Estilos del Footer ____________________*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #1e2424; }
  .footer__texto {
    color: #d0d0d0;
    margin: 20px auto 10px auto;
    font-size: 8px;
    font-weight: 300;
    text-align: center;
    padding: 0% 15%; }
  .footer__indice {
    margin: 10px; }
    .footer__indice-lista {
      display: flex;
      padding: 0;
      flex-direction: row;
      justify-content: space-evenly;
      width: 20vw;
      margin-right: auto;
      margin-left: auto; }
      .footer__indice-lista-li {
        margin: 3px; }
        .footer__indice-lista-li a img {
          height: 35px; }
          .footer__indice-lista-li a img:hover {
            transform: scale(1.1);
            transition-duration: 0.1s; }

/* ____________________ Estilos del Main (Basics & Videos) ____________________*/
.bo {
  width: 100%;
  background-color: #23292b;
  margin-top: 5vh;
  margin-bottom: 5vh; }
  .bo__title {
    color: white;
    margin: 5vw 6.5vw 0vw 6.5vw;
    font-size: 23px;
    font-weight: 400; }
  .bo__list {
    color: white;
    text-shadow: 0px 0px 5px black;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5vh 0vh; }
    .bo__list-archers-steps, .bo__list-scouts-steps, .bo__list-kt-steps {
      background-image: url(../Recursos/img/Archer_aoe2DE.png);
      width: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      border-radius: 10px; }
    .bo__list-scouts-steps {
      background-image: url(../Recursos/img/scout.png); }
    .bo__list-kt-steps {
      background-image: url(../Recursos/img/knight.png); }

.subtitle {
  display: hidden; }

.steps {
  width: -webkit-fill-available;
  height: 60vw;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7% 0%; }
  .steps li {
    margin-left: auto;
    margin-right: auto; }
  .steps-title {
    margin: 1vw;
    font-weight: 800; }

.video {
  width: -webkit-fill-available;
  height: 25vw;
  max-height: 300px;
  border-radius: 10px; }

/* ____________________ Estilos del Main (Form) ____________________*/
.bo__form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  margin-bottom: 3vh; }
  .bo__form-space-subtitulo {
    color: white;
    text-decoration: none;
    font-size: 26px;
    font-weight: 400; }
  .bo__form-space-tyc {
    padding: 5px;
    margin: 5px;
    color: white;
    width: auto;
    display: flex;
    flex-direction: line;
    justify-content: space-between;
    align-items: center; }
  .bo__form-space-botones {
    width: auto;
    margin: 0px;
    display: flex;
    justify-content: space-between; }
    .bo__form-space-botones-boton {
      width: 50%;
      border-radius: 10px;
      border: 1px solid white; }
  .bo__form-space-inputtext {
    height: 20vh;
    resize: none; }
  .bo__form-space-inputcheckbox {
    width: 24px; }

.form-input {
  padding: 5px;
  margin: 5px;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white; }
  .form-input:focus {
    outline: none;
    background-color: #2e3131; }
  .form-input:hover {
    outline: none;
    background-color: #2e3131; }

.form-noninput {
  padding: 5px;
  margin: 5px; }
  .form-noninput:hover {
    background-color: #cccaca; }

/* ____________________ Estilos del Main (Form-Grid) ____________________*/
.grid-container {
  padding: 2vw;
  display: grid;
  grid-gap: 0.5vw;
  grid-template-columns: repeat(5, 1fr) 5fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "grid-image-1 grid-image-1 grid-image-2 grid-image-2 grid-image-2 grid-form"
 "grid-image-1 grid-image-1 grid-image-2 grid-image-2 grid-image-2 grid-form"
 "grid-image-3 grid-image-3 grid-image-2 grid-image-2 grid-image-2 grid-form"
 "grid-image-3 grid-image-3 grid-image-4 grid-image-5 grid-image-6 grid-form"; }
  @media (max-width: 768px) {
    .grid-container {
      padding: 2vw;
      display: grid;
      grid-gap: 0.5vw;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 4fr repeat(4, 1fr);
      grid-template-areas: "grid-form      grid-form       grid-form       grid-form       grid-form"
 "grid-image-1   grid-image-1    grid-image-2    grid-image-2    grid-image-2"
 "grid-image-1   grid-image-1    grid-image-2    grid-image-2    grid-image-2"
 "grid-image-3   grid-image-3    grid-image-2    grid-image-2    grid-image-2"
 "grid-image-3   grid-image-3    grid-image-4    grid-image-5    grid-image-6"; } }
  .grid-container .bo__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0; }
  .grid-container .bo__form-space-inputtext {
    height: 12vh;
    resize: none; }

.grid-form {
  grid-area: grid-form;
  padding: 2vw; }

.grid-image-1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: grid-image-1;
  background-image: url(../Recursos/img/Grid1.JPG); }

.grid-image-2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: grid-image-2;
  background-image: url(../Recursos/img/Grid2.JPG); }

.grid-image-3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: grid-image-3;
  background-image: url(../Recursos/img/Grid3.JPG); }

.grid-image-4 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: grid-image-4;
  background-image: url(../Recursos/img/Grid4.JPG); }

.grid-image-5 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: grid-image-5;
  background-image: url(../Recursos/img/Grid5.JPG); }

.grid-image-6 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: grid-image-6;
  background-image: url(../Recursos/img/Grid6.JPG); }

/* agrego todo lo que viene del file del curso de JS para la calculadora */
.calculadora {
  padding: 20px;
  color: white;
  font-size: 13px;
  text-align: center; }

.unidades {
  width: 100%;
  display: flex;
  /* justify-content: flex-start; */
  flex-wrap: wrap; }

.unidades__div {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 100px; }

.unidades__div-imagen {
  height: 80px;
  width: 80px;
  margin: auto; }

.recursos {
  background-image: url(../Recursos/img/resPannel.JPG);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 850px;
  width: 850px;
  height: 60px;
  color: white;
  font-weight: 400;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  flex-wrap: wrap;
  margin: 15px auto; }

.recursos li {
  display: flex;
  margin: 3px 0px; }

.recursos__wood-texto {
  width: 35px;
  height: 20px;
  text-align: right;
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 10px;
  top: 26px; }

.recursos__food-texto {
  width: 35px;
  height: 20px;
  text-align: right;
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 76px;
  top: 26px; }

.recursos__gold-texto {
  width: 35px;
  height: 20px;
  text-align: right;
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 142px;
  top: 26px; }

.recursos__stone-texto {
  width: 35px;
  height: 20px;
  text-align: right;
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 207px;
  top: 26px; }

.recursos__totales-texto {
  width: 35px;
  height: 20px;
  text-align: right;
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 274px;
  top: 26px; }

.output__text {
  padding-top: 20px;
  /*     text-align: left;
 */ }
